@import './variables.scss';
@import './libs/normalize.scss';

@import './components/all.scss';

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
  @media(max-width: 645px) {
    width: calc(100vw - 30px);
    margin-top: 15px;
  }
}

.content {
  padding: 40px 0;

  &__title {
    margin: 35px 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 0 20px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(max-width: 1360px) {
      gap: 20px;
      .categories{
        width: 100%;
        overflow: scroll;

        ul{
          width: 785px;
        }
      }

      .sort{
        b{
          display: none;
        }
      }
    }

    @media(max-width: 820px) {
      flex-direction: column-reverse;
      .categories{
        margin-top: 30px;
      }
      .sort{
        b{
          display: inline-block;
        }
      }
    }
    @media(max-width: 460px) {
      .categories{
        ul{
          li{
            padding: 8px 20px;
          }
        }
      }
      .sort__label{
        flex-direction: column;
        gap: 10px
      }
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    max-width: 820px;
    margin: calc(var(--index) * 5) auto;
    .content__title {
      margin: 0;
    }
    @media(max-width: 550px) {
        margin: 0 auto;
    }
  }
}

.cart {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;

    @media(max-width: 550px) {
        font-size: 25px;
    }

    svg {
        position: relative;
        top: -2px;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        path {
            stroke: $black;
            stroke-width: 1.9;
        }
        @media(max-width: 550px) {
            width: 25px;
            height: 25px;
        }
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include noselect();

    @media(max-width: 550px) {
        justify-content: flex-end;
    }

    span {
      display: inline-block;
      margin-left: 7px;
      color: #b6b6b6;
      font-size: 18px;
      
        @media(max-width: 550px) {
            display: none;
        }
    }

    span,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }
      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }

  &__item {
    display: flex;
    width: 100%;
    border-top: 1px solid $gray-line;
    padding-top: 30px;
    margin-top: 30px;
    justify-content: space-between;

    @media(max-width: 550px) {
        position: relative;
        flex-direction: column;
        gap: 13px;
        .cart__item-content_info{
            width: 80%;
        }
        .cart__item-content_buttons{
            width: 100%;
        }
        .cart__item-img{
            width: 25%;
        }
        .cart__item-count{
            width: 27%;
        }
        .cart__item-info{
            width: 80%;
        }
        .cart__item-price{
            justify-content: flex-end;
        }
        .cart__item-remove{
            position: absolute;
            right: 15px;
        }
    }

    &-content_info {
        display: flex;
        justify-content: flex-start;  
        gap: 20px;
        width: 60%;
    }

    &-content_buttons {
        display: flex;
        justify-content: space-between;
        width: 30%;
        gap: 10px;
    }

    &-img {
      display: flex;
      align-items: center;
      margin-right: 15px;
      width: 31%;

      img {
        width: 80px;
        height: 80px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;

      h3 {
        font-weight: bold;
        font-size: calc(var(--index) * 1);
        line-height: 27px;
        letter-spacing: 0.01em;
      }

      p {
        font-size: calc(var(--index) * 0.8);
        color: #8d8d8d;
      }
      @media(max-width: 750px){
        h3 {
            font-size: calc(var(--index) * 1.3);
          }
        p {
            font-size: calc(var(--index) * 1);
        }
      }
      @media(max-width: 550px){
        h3 {
            font-size: calc(var(--index) * 1.7);
          }
        p {
            font-size: calc(var(--index) * 1.4);
        }
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 40%;
        @media(max-width: 750px) {
            width: 60%;
        }

      &-minus {
        svg {
          path:first-of-type {
            display: none;
          }
        }
      }

      b {
        font-size: 22px;
      }
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
        @media(max-width: 750px) {
            width: 40%;
        }

      b {
        font-weight: bold;
        font-size: calc(var(--index) * 1);
        letter-spacing: 0.01em;
        @media(max-width: 750px) {
            font-size: calc(var(--index) * 1.3);
        }
        @media(max-width: 550px) {
            font-size: calc(var(--index) * 1.9);
        }
      }
    }

    &-remove {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 5%;

      .button {
        border-color: darken($color: $gray-line, $amount: 10);
      }

      svg {
        transform: rotate(45deg);

        path {
          fill: darken($color: $gray-line, $amount: 15);
        }
      }

      .button {
        svg {
          width: 11.5px;
          height: 11.5px;
          position: relative;
        }
        &:hover,
        &:active {
          border-color: darken($color: $gray-line, $amount: 80);
          background-color: darken($color: $gray-line, $amount: 80);
        }
      }
    }
  }

  &__bottom {
    margin: 50px 0;

    &-details {
      display: flex;
      justify-content: space-between;
      @media(max-width: 550px) {
        flex-direction: column;
        gap: 10px;
        span{
            font-size: calc(var(--index) * 1.9);
        }
      }

      span {
        font-size: calc(var(--index) * 1);

        &:last-of-type {
          b {
            color: $orange;
          }
        }
      }
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      gap: 20px;

      .go-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;

        border-color: darken($color: $gray-line, $amount: 10);

        span {
          color: darken($color: $gray-line, $amount: 20);
          font-weight: 500;
          font-weight: 600;
        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);

          span {
            color: $gray-line;
          }
        }

        svg {
          margin-right: 12px;
          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }

      .pay-btn {
        font-size: 16px;
        font-weight: 600;
        width: 210px;
        padding: 16px;
        @media(max-width: 550px) {
            font-size: 14px;
        }
      }
    }
  }

  &--empty {
    margin: 0 auto;
    width: calc(var(--index) * 35);
    text-align: center;
    @media (max-width: 400px) {
        width: calc(var(--index) * 25);
    }

    h2 {
        font-size: calc(var(--index) * 2);
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    p {
        font-size: calc(var(--index) * 1);
        line-height: 145.4%;
        letter-spacing: 0.01em;
        color: #777777;
    }

    icon {
      position: relative;
      top: 2px;
    }

    img {
      display: block;
        width: 80%;
        margin: calc(var(--index) * 2) auto calc(var(--index) * 4);
    }

    .button--black {
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
